<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Workout Playlists</title>
</head>
<body>
    <h1>Choose Your Workout</h1>

    <div>
        <a href="/more-artists?workout=Cardio&mood=Energetic">
            <h3>Cardio</h3>
        </a>

        <a href="/more-artists?workout=Strength Training&mood=Powerful">
            <h3>Strength Training</h3>
        </a>

        <a href="/more-artists?workout=HIIT&mood=Intense">
            <h3>HIIT</h3>
        </a>

        <a href="/more-artists?workout=Yoga&mood=Calm">
            <h3>Yoga</h3>
        </a>
    </div>
</body>
</html>